<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light"
        tools:targetApi="31">
        <activity
            android:name=".Tuan3.ThucHanh.MainActivity_Tuan3_CustomListView"
            android:exported="false" />
        <activity
            android:name=".Tuan3.MainActivity_Tuan3_ListView"
            android:exported="false"/>
        <!-- TUAN 2-->
        <activity
            android:name=".Tuan2.ListView.Kotlin.MainActivity_Tuan2_ListView_Kotlin"
            android:exported="false" />
        <activity
            android:name=".Tuan2.ListView.Java.MainActivity_ListView"
            android:exported="false" />
        <activity
            android:name=".Tuan2.TinhTong.Kotlin.MainActivity_Tuan2_Intent_TinhTong_Kotlin"
            android:exported="false" />
        <activity
            android:name=".Tuan2.TinhTong.Kotlin.MainActivity_Tuan2_TinhTong_Kotlin"
            android:exported="false" />
        <activity
            android:name=".Tuan2.TinhTong.TinhTong.MainActivity_Tuan2_Intent"
            android:exported="false" />
        <activity
            android:name=".Tuan2.TinhTong.TinhTong.MainActivity_Tuan2"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- TUAN 1-->
        <activity
            android:name=".Tuan1.Tuan1_MainActivity"
            android:exported="false" />
        <activity
            android:name=".ThangLongElearning.ThangLongElearning"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>